//header bar
.navbar .navbar-reverse .navbar-fixed-top .nav-pills{

}





















/* navbar */
.nav-pills {
    background-color:white  ;
    border-color: #E7E7E7;
}
/* title */
/*.navbar-brand {
    color: #777;
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: #5E5E5E;
    background-color: red
}*/
// link 
.nav-pills > li > a {
    color: #5E5E5E;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color:  #5E5E5E;
}
.nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
    color:  #5E5E5E;
    background-color:  #5E5E5E;
}
.nav-pills > .open > a, 
.nav-pills > .open > a:hover, 
.nav-pills > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
caret 
.nav-pills > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.nav-pills > .dropdown > a:hover .caret,
.nav-pills > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.nav-pills > .open > a .caret, 
.nav-pills > .open > a:hover .caret, 
.nav-pills > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
//mobile version 
.navbar-toggle {
    border-color: #DDD;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 767px) {
    .nav-pills .open .dropdown-menu > li > a {
        color: #777;
    }
    .nav-pills .open .dropdown-menu > li > a:hover,
    .nav-pills .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}


//nav pills
.nav-pills > li.active {
    background-color:#777 ;
}                       
.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus {
    color: white;
    background-color: #777  ;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover {
    color: white;
    background-color: #777  ;
}


.nav-pills > .open > a, 
.nav-pills > .open > a:hover, 
.nav-pills > .open > a:focus {
    color: green;
    background-color: green;
}
.navbar{
    background-color: white;
    box-shadow: 0px 10px 10px #484848;
}

body{
    background-color: #F1EDE4;
    height: 100%;
    font-family:initial;

}
//container
.container-fluid{
    background-color: white;
}
.sidebar{
    background-color: white;
    border-radius: 1%;
    padding: 2%;
}.tab-content{
    padding: 2%;
    background-color: white;
    border-radius: 1%;
    margin-left: 1%;
}

#wrapper{
    min-height: 100%;
    overflow:auto;
    padding-bottom: 180px;  
}
#footer {
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear:both;
} 
.modal-body{
    // background: #EEEEEE;
}
.modal-header{
    background: #EEEEEE;
}
.modal-footer{
    background: #EEEEEE;
}
.modal-title{
    font-family:initial;
    font-weight: bold
}
label{
    font-family: initial;
    font-weight: lighter;
}
.report-search{
    background: #E9E9E7;
    padding: 1%;
}
.section-primary{
    background-color:#515050;
}



td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

table.dataTable thead tr {
    background-color: lightskyblue   ;
}

table.dataTable.subtable thead tr {
    background-color:lightcyan;

}
table.dataTable.subtable tbody tr {
    background-color:lightcyan;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 4px;
}
/*table.dataTable.subtable th, table.dataTable.subtable td {
    padding: 2px 0px;
}*/